.InputPane {
  min-height: 80vh;

  width: 794px;

display: grid;

  box-shadow: 5px 5px 25px rgb(0, 0, 0);
  background-color: var(--header);

  textarea {
    resize: none;
    overflow: hidden;
  }

  input {
    width: 25rem;
    max-width: 80%;
  }

  h2 {
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
  }

  .fieldAndButton {
    display: flex;
    width: 100%;
    place-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

/* Accordion content default state */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  padding: 1rem;

  display: flex;
  flex-direction: column;

  /* https://www.youtube.com/watch?v=owFsdm8q7rM
  https://www.youtube.com/watch?v=B_n4YONte5A */

  justify-content: space-between;
  
  transition: all 0.6s ease;
}

.accordion-section {
  outline: 1px solid white;
}

/* Accordion content expanded state */
.accordion-section.active .accordion-content {
  max-height: fit-content; 
  opacity: 1;
}
  /*---------------------------------------------*/
  button img {
    /*only applies to the update icon image*/
    width: calc(20px + 1vw);
    height: auto;

    rotate: 90deg;
    transform: scaleX(-1);
    display: block;
  }

  button:has(img) {
    border: none;
    /*has a weird border otherwise*/
    border-radius: 5px;
    padding: 6px 8px 0px 8px;
    background-color: var(--highlighted);
  }

  button:has(img):hover {
    filter: brightness(110%);
  }
}
/*--------------------------------------------*/

@media all and (max-width: 1200px) {
  .InputPane {
    width: 100%;
  }
  /*This doesn't work unless applied here, wtf*/
}
