.InputPane {
  min-height: 80vh;  

  width: 794px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-shadow: 5px 5px 25px rgb(0, 0, 0);
  background-color: var(--header);



  textarea {
    resize: none;
    overflow: hidden;
  }

  input {
    width: 25rem;
    max-width: 80%;
  }

  div {
    display: flex;
    place-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
  }

  h2 {
    padding: 0.5rem 1rem;
  }
}
@media all and (max-width: 1200px) {
 .InputPane {
  width: 100%;
 }
 /*This doesn't work unless applied here, wtf*/
}