.InputPane {
  textarea {
    resize: none;
    overflow: hidden;
  }

  input {
    min-width: 25rem;
  }

  div {
    display: flex;
    place-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
  }

  h2 {
    padding: 1rem;
  }
}
