.PreviewPane {
    position: relative;


    background-color: #bc4646;
    
    color: black;
    font-family: 'Lato', sans-serif;
    width: 794px; /* Approximate width of A4 in pixels at 96dpi */
    min-height: 1122px; /* Approximate height of A4 in pixels at 96dpi */
    max-height: 100vh;
    padding: 2cm; /* Similar to a typical print margin */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A subtle shadow to lift it off the page */
    border: 1px solid #ddd;
    overflow: auto;
    page-break-inside: avoid;
    break-inside: avoid; /* Prevent breaking the content in the middle during printing */
}

.PreviewPane h2, .PreviewPane h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.PreviewPane ul, .PreviewPane ol {
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}


.PreviewPane ul li, .PreviewPane ol li {
    line-height: 1.6;
    font-size: 1.2rem;
}

.PreviewPane .notes {
    margin-top: 2rem;
    font-style: italic;
    font-size: 1.2rem;
}

.previewUpper {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 1rem;
}

.H2Ingr{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

img {
    border-radius: 1rem;
    width: 100%;
    max-width: 280px;
    height: 280px;
    object-fit: cover;
}

@media print {
    .PreviewPane {
        box-sizing: border-box;

        background-color: aquamarine;

        width: auto;
        height: auto;

        padding-bottom: 0;
        margin-bottom: 0;

        box-shadow: none;
        border: none;
        overflow: visible;

        
        page-break-after: avoid;
        page-break-before: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .printButton {
        display: none;
        page-break-after: avoid;
    }
}
