.PreviewPane {
    position: relative;
    background-color: #fff;
    color: black;
    font-family: 'Lato', sans-serif;

    min-height: 80vh;
    /* min-height: 1122px; */

    width: 794px;    

    word-wrap: break-word; /* Ensures long words break onto the next line */
    overflow-wrap: break-word; /* Modern equivalent, handles long words */
    word-break: break-word; /* Modern equivalent, handles long words */

    padding: 2cm; /* Similar to a typical print margin */
    box-shadow: 5px 5px 25px rgb(0, 0, 0); /* A subtle shadow to lift it off the page */
    border: 1px solid #ddd;
    overflow: auto;
    page-break-inside: avoid;
    break-inside: avoid; /* Prevent breaking the content in the middle during printing */

    img {
        width: 100%;
        max-width: 300px; 
        max-height: 300px; /* Maintain aspect ratio */
        border-radius: 1rem;
        object-fit: cover;
        aspect-ratio: 1;
    }
}

.PreviewPane h2, .PreviewPane h3 {
    margin-bottom: 1rem;
}

.PreviewPane ul, .PreviewPane ol {
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}

.PreviewPane ul li, .PreviewPane ol li {
    line-height: 1.6;
    font-size: 1.2rem;
}

.PreviewPane .notes {
    margin-top: 2rem;
    font-style: italic;
    font-size: 1.2rem;
}

.previewUpper {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 1rem;
    gap: 1rem;
}

.H2Ingr{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: space-between;
}

/*-- problem - image gets wonky if parent has max width
but max width needed to enforce text wrapping!?*/
/*--------------------------------------------*/

@media screen and (max-width: 1200px) {
    .previewUpper {
       /* flex-wrap: wrap; */
       flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .H2Ingr {
        min-width: 100%;
    }
    .PreviewPane {
        padding: 1rem;
        width: 100%;
        overflow: visible;        
        max-height: 100%;
        /*remove scrollbar causes overflow,
        needed to set explicit max-height 
        a bit mysterious IMO but whatever */
    }
}

@media print {
    @page {
        size: A4;
    }

    /* html, body {
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
      } */
    
    .PreviewPane {
        box-sizing: border-box;
        min-height: 100vh;
        height: auto;
        padding: 5rem;

    }
    .printButton {
        display: none;
        page-break-after: avoid;
    }
}

/* Last resort idea for image break - break into single column */