:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme:  dark;
  color: whitesmoke;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header: #4b3c2e;
  --main: #2e2e2e;
  --highlighted: #76604a;

  /* --header: #22334b;
  --main: #2e2b2d;
  --highlighted: #365075; */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
html {
  font-size: 62.5%;
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  min-height: 100vh;

  scroll-behavior: smooth;
  caret-color: transparent;
}
body {
  font-size: 2rem;
  /* font-size: calc(1.5rem + 0.4vw); */
  /* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
  /* FONTSIZE - Adding the 0.4 is for responsivity */
}
button {
  cursor: pointer;
}

/* ----------------------------------------- */
html {
  background-color: var(--main);
  color: whitesmoke;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /*This is important for flex-based bottom footer*/
}
/* ----------------------------------------- */
h1 {
  filter: drop-shadow(1px 1px 1px black);
  font-size: clamp(3.4rem, 5vw, 4.5rem);
}

h2 {
  font-size: clamp(2.7rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 2.5rem);
}
/* ----------------------------------------- */
input[type=text]:focus, textarea:focus {
outline: 1px solid transparent;
}
/* ----------------------------------------- */

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
